@mixin container{
  padding-left: $container;
  padding-right: $container;
  @include xs{
    padding-left: $container-xs;
    padding-right: $container-xs;
  }
  @include s{
    padding-left: $container-s;
    padding-right: $container-s;
  }
  @include m{
    padding-left: $container-m;
    padding-right: $container-m;
  }
  @include l{
    padding-left: $container-l;
    padding-right: $container-l;
  }
  @include xl{
    padding-left: $container-xl;
    padding-right: $container-xl;
  }
}

@mixin container-small{
  padding-left: $container;
  padding-right: $container;
  @include s{
    padding-left: 30px;
    padding-right: 30px;
  }
  @include m{
    padding-left: $container-xs;
    padding-right: $container-xs;
  }
  @include l{
    padding-left: $container-s;
    padding-right: $container-s;
  }
  @include xl{
    padding-left: $container-m;
    padding-right: $container-m;
  }
}

@mixin minus-container{
  margin-left: -$container;
  margin-right: -$container;
  @include xs{
    margin-left: -$container-xs;
    margin-right: -$container-xs;
  }
  @include s{
    margin-left: -$container-s;
    margin-right: -$container-s;
  }
  @include m{
    margin-left: -$container-m;
    margin-right: -$container-m;
  }
  @include l{
    margin-left: -$container-l;
    margin-right: -$container-l;
  }
  @include xl{
    margin-left: -$container-xl;
    margin-right: -$container-xl;
  }
}


// margin
@mixin m-xs{
  margin: 5px;
  @include s{
    margin: 10px;
  }
}
@mixin m-s{
  margin: 10px;
  @include s{
    margin: 20px;
  }
}

@mixin m-m{
  margin: 20px;
  @include s{
    margin: 30px;
  }
}

@mixin m-l{
  margin: 30px;
  @include s{
    margin: 40px;
  }
}

@mixin m-lx{
  margin: 40px;
  @include s{
    margin: 50px;
  }
}

@mixin margin{
  margin-bottom: 20px;
  @include s{
    margin-bottom: 50px;
  }
}


// Padding
@mixin p-xs{
  padding: 5px;
  @include s{
    padding: 10px;
  }
}
@mixin p-s{
  padding: 10px;
  @include s{
    padding: 20px;
  }
}

@mixin p-m{
  padding: 20px;
  @include s{
    padding: 30px;
  }
}

@mixin p-l{
  padding: 30px;
  @include s{
    padding: 40px;
  }
}

@mixin p-lx{
  padding: 40px;
  @include s{
    padding: 50px;
  }
}

@mixin block-padding{
  padding: 20px;
  @include s{
    padding: 40px;
  }
  @include m{
    padding: 50px;
  }
}