@font-face {
  font-family: 'Helvetica neue';
  src: url('../../../../fonts/camp_leaders/HelveticaNeueLTPro-Roman.eot'); /* IE9 Compat Modes */
  src: url('../../../../fonts/camp_leaders/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../../fonts/camp_leaders/HelveticaNeueLTPro-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Helvetica neue bold';
  src: url('../../../../fonts/camp_leaders/HelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
  src: url('../../../../fonts/camp_leaders/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../../fonts/camp_leaders/HelveticaNeueLTPro-Bd.svg#svgFontName') format('svg'); /* Legacy iOS */
}

*{
  font-family: "Helvetica neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  @include font-heading;
  line-height: 1;
  *{
    @include font-heading;
  }
}

h1{
  font-size: 39px;
  letter-spacing: -2px;
  @include xxs{
    font-size: 44px;
  }
  @include xs{
    font-size: 54px;
  }
  @include s{
    font-size: 68px;
  }
  @include m{
    font-size: 80px;
  }
  @include l{
    font-size: 90px;
  }
  @include xl{
    font-size: 100px;
  }
}

h2{
  font-size: 38px;
  letter-spacing: -2px;
  @include xxs{
    font-size: 46px;
  }
  @include xs{
    font-size: 48px;
  }
  @include s{
    font-size: 60px;
  }
  @include m{
    font-size: 60px;
  }
  @include l{
    font-size: 70px;
  }
  @include xl{
    font-size: 80px;
  }
}

h3{
  font-size: 32px;
  @include xs{
    font-size: 38px;
  }
  @include s{
    font-size: 42px;
  }
  @include m{
    font-size: 48px;
  }
  @include l{
    font-size: 56px;
  }
  @include xl{
    font-size: 60px;
  }
}


h4{
  font-size: 24px;
  @include xs{
    font-size: 26px;
  }
  @include s{
    font-size: 28px;
  }
  @include m{
    font-size: 32px;
  }
  @include l{
    font-size: 36px;
  }
  @include xl{
    font-size: 40px;
  }
}

h5{
  font-size: 20px;
  @include xs{
    font-size: 22px;
  }
  @include s{
    font-size: 24px;
  }
  @include m{
    font-size: 26px;
  }
  @include l{
    font-size: 28px;
  }
  @include xl{
    font-size: 30px;
  }
}

h6{
  font-size: 18px;
  @include xs{
    font-size: 20px;
  }
  @include s{
    font-size: 22px;
  }
  @include m{
    font-size: 24px;
  }
  @include l{
    font-size: 26px;
  }
  @include xl{
    font-size: 28px;
  }
}
