$brand: #00AAE3 !default;
$brand-2: #004152 !default;

$brand-3: #ED2A53 !default;
$primary: #99CC00 !default;
$yellow: #FAB700 !default;

$black: #1F2B30 !default;

// $light-grey: #efefef !default;
// $dark-grey: #444 !default;
