// Element Spacing
$spacer-s: 30px;
$spacer-m: 50px;
$spacer-l: 70px;

// Container Spacing
$container:    20px;
$container-xs: 50px;
$container-s:  60px;
$container-m:  100px;
$container-l:  140px;
$container-xl: 200px;