.site__wrapper{
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

main{
  @include container();
  position: relative;
}

.freeze{
  overflow: hidden;
}

.margin{
  margin-bottom: 20px;
  @include s{
    margin-bottom: 50px;
  }
}