.site__wrapper{
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

main{
  @include container();
  position: relative;
}

.freeze{
  overflow: hidden;
<<<<<<< HEAD
}

.margin{
  margin-bottom: 20px;
  @include s{
    margin-bottom: 50px;
  }
=======
>>>>>>> 4013ce3be012f2508d28a49341ac85d475f10792
}