.footer{
  @include container;
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
  background: $black;
  color: white;
  padding-bottom: 40px;
  padding-top: 40px;
  @include s{
    @include flex-wrap(nowrap);
    @include flex-direction(row);
  }
  &__left{
    @include align-items(center);
    @include flexbox;
    @include flex-direction(column);
    @include order(3);
    @include justify-content(space-evenly);
    @include flex(1 0 100%);
    max-width: 240px;
    width: 100%;
    @include xxs{
      max-width: 260px;
    }
    @include xs{
      max-width: 300px;
    }
    @include s{
      @include order(1);
      @include flex(1 1 40%);
      @include align-self(flex-end);
      max-width: 40%;
      width: auto;
    }
    &--top{
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-evenly);
      @include flex(1);
      margin-bottom: 1rem;
      width: 100%;
    }
    &--inner{
      margin: 0 0.5rem;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      img{
        max-width: 100%;
      }
    }
    &--legal{
      font-size: 9px;
    }
  }
  &__center{
    @include order(1);
    margin-bottom: 2rem;
    @include flex(1 0 100%);
    text-align: center;
    @include s{
      @include order(2);
      @include flex(1 0 20%);
      padding: 0 2rem;
      margin-bottom: 0;
    }
    @include m{
      padding: 0 3rem;
    }
    svg{
      width: 140px;
      @include s{
        width: 120px;
      }
    }
  }
  &__right{
    @include flexbox;
    @include flex-direction(column);
    @include order(2);
    @include flex(1 0 100%);
    max-width: 240px;
    width: 100%;
    @include xxs{
      max-width: 260px;
    }
    @include xs{
      max-width: 300px;
    }
    @include s{
      @include order(3);
      @include flex(1 1 40%);
      @include align-self(flex-end);
      max-width: 40%;
      width: auto;
    }
    &--social{
      @include flexbox;
      @include justify-content(center);
      margin-bottom: 1rem;
      @include s{
        @include justify-content(flex-end);
      }
      svg{
        height: 30px;
        margin: 0 0.5rem;
        @include s{
          margin: 0 0 0 1rem;
        }
      }
    }
    &--cleversteam{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      margin-bottom: 1rem;
      @include s{
        @include justify-content(flex-end);
      }
      img{
        max-width: 340px;
        width: 100%;
        @include s{
          max-width: 225px;
        }
      }
    }
    &--copyright{
      font-size: 9px;
      margin-bottom: 1rem;
      @include xxs{
        font-size: 10px;
      }
      @include xs{
        font-size: 11px;
      }
      @include s{
        font-size: 9px;
        text-align: right;
        margin-bottom: 0;
      }
    }
  }
  &__bottom{
    @include order(4);
    @include f-xs;
    @include flex(0 0 100%);
  }
}

.footer__links{
  @include container;
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  background: lighten($black, 5%);
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer__link{
  @include flex(1 1 auto);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  @include s{
    font-size: 18px;
  }
}