.header{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  &__list--wrap{
    @include align-items(center);
    @include container();
    @include flexbox;
    @include justify-content(flex-end);
    padding-top: 40px;
  }
  &__list--item{
    cursor: pointer;
    margin-right: 10px;
    @include s{
      margin-right: 20px;
    }
    path, rect{
      fill: white;
    }
    &-menu{
      margin: 0;
      svg{
        display: block;
        height: 40px;
        width: 40px;
      }
    }
    &-logo{
      margin-right: auto;
      img, svg{
        height: 50px;
        @include s{
          height: 60px;
        }
      }
    }
    &__brand{
      path, rect{
        fill: $brand;
      }
    }
  }
}
