.header{
  width: 100%;
  position: absolute;
  z-index: 1;
  &__list--wrap{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include container();
    padding-top: 20px;
  }
  &__list--item{
    cursor: pointer;
    &-countdown{
      display: none;
      @include m{
        display: inline-flex;
      }
    }
    &-logo{
      img, svg{
        height: 50px;
        @include s{
          height: 60px;
        }
      }
    }
    &__brand{
      path, rect{
        fill: $brand;
      }
    }
  }
}
