.hero{
  &__wrap{
    &--home{
      .hero__content--wrap{
        @include xs{
          padding-top: 140px;
        }
      }
    }
  }
  &__offer{
    &--wrap{
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      font-weight: bold;
      @include xs{
        @include align-items(flex-end);
      }
    }
    &--inner{
      @include align-items(center);
      @include flexbox;
      @include flex(0 0 130px);
      @include flex-direction(column);
      @include justify-content(center);
      @include p-s();
      @include shadow;
      background: $brand-2;
      border-radius: 50%;
      box-sizing: border-box;
      color: #fff;
      height: 130px;
      text-align: center;
      text-decoration: none;
      width: 130px;
      z-index: 2;
      @include s{
        @include flex(0 0 160px);
        height: 160px;
        width: 160px;
      }
      *{
        font-size: 11px;
        @include s{
          font-size: 13px;
        }
      }
    }
  }
  &__content{
    &--home{
      @include flexbox;
      @include flex-direction(column);
    }
  }
  &__speech{
    &--wrap{
      bottom: 40px;
      position: absolute;
      right: 40px;
      width: 56px;
      @include xs{
        display: none;
      }
      #speech--close{
        @include transform(scale(0));
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
      }
      &.active{
        #speech--close{
          @include transform(scale(1));
          height: auto;
          opacity: 1;
          overflow: visible;
          visibility: visible;
        }
        #speech--open{
          @include transform(scale(0));
          height: 0;
          opacity: 0;
          overflow: hidden;
          visibility: hidden;
        }
        .hero__speech--menu__wrap{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &--icon{
      bottom: 0px;
      height: 40px;
      position: absolute;
      right: 0px;
      width: 40px;
      svg{
        @include transition(all 0.3s);
        cursor: pointer;
        height: 40px;
        position: absolute;
        width: 40px;
      }
    }
    &--menu{
      &__wrap{
        @include border-radius(100px);
        @include transition(all 0.3s);
        background: $brand;
        bottom: 70px;
        opacity: 0;
        position: absolute;
        right: -20px;
        visibility: hidden;
        @include backface-visibility(hidden);
        ul{
          @include flexbox;
          @include flex-direction(column);
          line-height: 1;
          list-style-type: none;
          margin: 0;
          padding: 20px 20px 10px;
          text-align: center;
          &:before{
            content: "";
            bottom: -18px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid $brand;
            height: 0;
            position: absolute;
            right: calc(50% - 10px);
            width: 0;
          }
        }
      }
      &__item{
        margin-bottom: 10px;
        &:last-child{
          margin: 0;
        }
        svg{
          cursor: pointer;
          height: 40px;
        }
      }
    }
  }
}