// Jobs Hero
.hero{
  &__content{
    &--wrap{
      &_job{
        @include justify-content(flex-end);
        padding-bottom: 90px;
        @include xs{
          @include justify-content(center);
        }
      }
    }
    &--job{
      @include flexbox;
      @include flex-direction(column);
      .hero__button--wrap{
        @include xs{
          @include order(1);
        }
      }
    }
  }
}

// Jobs Navigation
.jobs__navigation{
  &--wrap{
    @include flexbox;
    @include minus-container;
    background: $brand-2;
    background: -moz-linear-gradient(left, darken($brand-2, 10%) 0%, $brand-2 50%, darken($brand-2, 10%));
    background: -webkit-linear-gradient(left, darken($brand-2, 10%) 0%, $brand-2 50%, darken($brand-2, 10%) 100%);
    background: linear-gradient(to right, darken($brand-2, 10%) 0%, $brand-2 50%, darken($brand-2, 10%) 100%);
    position: relative;
    margin-top: -50px;
  }
  &--inner{
    @include flexbox;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
  }
  &--item{
    @include flex(1);
    text-align: center;
    &.active{
      font-weight: bold;
      .jobs__navigation--item-inner{
        color: white;
      }
    }
    &-inner{
      color: rgba(255,255,255,0.9);
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
    }
  }
}
