.accordion{
  width: 100%;
  margin-bottom: 20px;
  @include s{
    margin-bottom: $spacer-m;
  }
  &__header{
    @include flexbox;
    @include align-items(center);
    @include container-small;
    @include justify-content(center);
    @include user-select(none);
    background: $brand;
    color: white;
    cursor: pointer;
    padding-bottom: 1rem;
    padding-top: 1rem;
    svg{
      @include transition(all 0.3s);
      @include flex(0 0 40px);
      @include transform(scaleY(-1));
      height: 22px;
      padding-left: 0.5rem;
      @include s{
        padding-left: 1rem;
      }
    }
    h4{
      @include flex(1 1 auto);
    }
  }
  &__content{
    @include transition(padding 0.35s, max-height 0.3s);
    background: $light-grey;
    color: $brand-2;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    @include s{
      padding: 0px 40px;
    }
    @include m{
      padding: 0px 60px;
    }
    p{
      margin-bottom: 1rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &.active{
    .accordion{
      &__header{
        svg{
          @include transform(scaleY(1));
        }
      }
      &__content{
        max-height: 1000px;
        overflow: visible;
        padding: 20px;
        @include s{
          padding: 20px 40px;
        }
        @include m{
          padding: 30px 60px;
        }
        
      }
    }
  }
}