.apply__block{
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  margin-bottom: $spacer-m;
  width: 100%;
  &--btn{
    @include flexbox;
    @include flex(0 1 300px);
    @include justify-content(center);
    margin-right: 20px;
    padding-bottom: 9px;
    padding-top: 9px;
    @include xxs{
      margin-right: 40px;
    }
    @include xs{
      margin-right: 60px;
    }
    @include s{
      margin-right: 80px;
    }
    @include m{
      margin-right: 100px;
    }
    .btn{
      @include flex(1 1 100%);
      &:first-child{
        margin-right: 15px;
        @include s{
          margin-right: 30px;
        }
      }
    }
    &.long{
      @include flex(0 1 600px);
    }
  }
  &--back{
    @include flex(0 0 40px);
    svg{
      cursor: pointer;
      display: block;
      fill: $brand-2;
      height: 40px;
      width: 40px;
    }
  }
}