.banner{
  @include flexbox();
  @include margin;
  max-height: 400px;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
    a{
      width: 100%;
    }
    .play{
      width: 80px;
      @include s{
        width: 100px;
      }
    }
  &__img{
    height: 100%;
    width: 100%;
    img{
      @include background-image;
    }
  }
  &__content{
    @include align-items(center);
    @include absolute;
    @include flexbox();
    &--inner{
      @include flex(0 1 70%);
      @include s{
        @include flex(0 1 60%);
      }
    }
    &.banner__content--right{
      @include justify-content(flex-end);
      .banner__text{
        padding-left: 0 !important;
        text-align: right;
        @include s{
          @include container-small;
        }
      }
    }
    &.banner__content--left{
      @include justify-content(flex-start);
      .banner__text{
        padding-right: 0;
        @include s{
          @include container-small;
        }
      }
    }
  }
  &__text{
    @include container-small;
    @include flexbox();
    @include flex-direction(column);
    color: #fff;
    font-size: 28px;
    span{
      display: inline;
      @include s{
        display: block;
      }
    }
  }
  &.banner__app{
    .banner__text{
      text-align: left;
    }
    .banner__app--img{
      max-width: 200px;
    }
  }
  &.banner__brochure{
    color: white;
    .banner__brochure--form{
      @include flexbox;
      @include justify-content(space-between);
    }
    input[type='text'].banner__brochure--form-input{
      background: white;
      border-radius: 30px;
      margin-right: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

