.block__slider{
  &--wrap{
    margin-left: -40px;
    margin-right: -40px;
    @include s{
      margin-left: 0;
      margin-right: 0;
    }
    .block{
      &__title{
        padding-left: 40px;
        padding-right: 40px;
        &--wrap{
          margin-left: 0;
          margin-right: 0;
        }
      }
      &__content--wrap{
        padding-left: 40px;
        padding-right: 40px;
        @include s{
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.slider__dots{
  &--wrap{
    @include flexbox;
    @include justify-content(center);
    height: 34px;
    width: 100%;
    text-align: center;
  }
  &--item{
    @include transition(all 0.3s);
    @include border-radius(50%);
    border: 1px solid $brand-2;
    box-sizing: border-box;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    &.active{
      background: $brand-2;
    }
  }
}