.block{
  &__brand-2{
    .block{
      &__title{
        background: $brand-2;
      }
      &__text{
        background: $brand;
      }
    }
  }
  &__grey{
    .block{
      &__title{
        background: $brand;
      }
      &__text{
        background: $light-grey;
        color: $brand-2;
      }
    }
  }
  &__white{
    .block{
      &__title{
        background: white;
      }
      &__text{
        background: $brand;
        color: white;
      }
    }
  }
<<<<<<< HEAD
  &__blank{
    .block{
      &__text{
        background: transparent;
        color: $brand-2;
        padding-top: 0;
        @include s{
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    &.block{
      &__left{
        .block__text{
          margin-left: 0;
          @include s{
            padding: 40px 0px 40px 40px;
          }
        }
      }
      &__right{
        .block__text{
          margin-right: 0;
          @include s{
            padding: 40px 40px 40px 0px;
          }
        }
      }
    }
  }
=======
>>>>>>> 4013ce3be012f2508d28a49341ac85d475f10792
}