.block__testimonial{
  .block__image--wrap{
    margin: 0;
  }
  .block__text{
    background: $brand;
    margin: -10px 10px 0 10px;
    z-index: 1;
    @include s{
      margin: 0 0 0 -20px;
    }
    &:after{
      content: "";
      position: absolute;
      right: 30px;
      bottom: -30px;
      border-bottom: 30px solid transparent;
      border-left: 30px solid $brand;
      @include s{
        right: 40px;
        bottom: -40px;
        border-bottom: 40px solid transparent;
        border-left: 40px solid $brand;
      }
    }
  }
  &--text{
    color: $brand-2;
    padding: 20px 80px 20px 10px;
    text-align: left;
    @include s{
      padding: 20px 100px 20px 30px;
    }
    &-heading{
      @include font-heading;
      font-size: 0.9rem;
      @include s{
        font-size: 1rem;
      }
    }
    &-subheading{
      font-size: 0.9rem;
      @include s{
        font-size: 1rem;
      }
    }
    .block__link{
      margin-bottom: 0;
      padding: 0 10px;
      @include s{
        padding: 0;
      }
    }
  }
  // Right
  &.block__right{
    .block{
      &__text{
        margin-left: 0;
        &:after{
          left: 30px;
          right: auto;
          border-right: 30px solid $brand;
          border-left: none;
          @include s{
            left: 40px;
            border-right: 40px solid $brand;
          }
        }
      }
      &__testimonial--text{
        padding: 20px 10px 20px 80px;
        text-align: right;
        @include s{
          padding: 20px 30px 20px 80px;
        }
      }
    }
  }
  // Colour variation
  &.block__brand-2{
    .block__text{
      background: $brand-2;
      &:after{
        border-left-color: $brand-2;
        border-right-color: $brand-2;
      }
    }
    .block__testimonial--text{
      color: $brand;
    }
  }
  &.block__grey{
    .block__text{
      background: $light-grey;
      &:after{
        border-left-color: $light-grey;
      }
    }
    .block__testimonial--text{
      color: $brand;
    }
  }
}