.block{
  &__left{
    .block__text{
      @include s{
        margin-left: -20px;
      }
      @include m{
        margin-left: -40px;
      }
    }
  }
  &__right{
    .block{
      &__image--wrap{
        @include s{
          @include order(1);
        }
      }
      &__offer{
        &--wrap{
          @include transform(rotate(-10deg));
          right: auto;
          left: 10px;
        }
      }
      &__text{
        @include s{
          margin-right: -20px;
        }
        @include m{
          margin-right: -40px;
        }
      }
    }
  }
  // block__top used to overlap hero image
  &__top{
    margin-top: 0;
    .block__title--wrap{
      margin-top: -10px;
      @include s{
        margin-top: -20px;
      }
    }
  }
  // block__header used underneath the job navigation bar
  &__header{
    margin-top: 0px;
    .block{
      &__title--wrap{
        @include minus-container;
        @include s{
          @include minus-container;
        }
      }
    }
  }
  // block__title used when block has a title, image overlaps title
  &__has--title{
    .block__content--wrap{
      margin-top: -15px;
    }
  }
<<<<<<< HEAD
  // block__skill used to center skills offer circle
=======
>>>>>>> 4013ce3be012f2508d28a49341ac85d475f10792
  &__skill{
    @include s{
      &.block__left{
        .block__offer{
          &--wrap{
            right: auto;
            left: -65px;
            top: calc(45% - 60px);
          }
        }
      }
      &.block__right{
        .block__offer{
          &--wrap{
            right: -60px;
            left: auto;
            top: calc(45% - 65px);
          }
        }
      }
    }
  }
}