.block{
  &__left{
    .block__text{
      @include s{
        margin-left: -20px;
      }
      @include m{
        margin-left: -40px;
      }
    }
  }
  &__right{
    .block{
      &__image--wrap{
        @include s{
          @include order(1);
        }
      }
      &__offer{
        &--wrap{
          @include transform(rotate(-10deg));
          right: auto;
          left: 10px;
        }
      }
      &__text{
        @include s{
          margin-right: -20px;
        }
        @include m{
          margin-right: -40px;
        }
      }
    }
  }
  &__header{
    &.block__has--sticker{
      .block__title{
        padding-top: 60px;
        padding-bottom: 60px;
        @include s{
          padding-top: 70px;
          padding-bottom: 70px;
        }
      }
    }
    &.block__left{
      .block{
        &__offer{
          &--wrap{
            @include transform(rotate(-10deg));
            right: auto;
            left: 10px;
            top: -45px;
            @include s{
              left: 20px;
              top: -55px;
            }
          }
        }
      }
    }
    &.block__right{
      .block{
        &__offer{
          &--wrap{
            @include transform(rotate(10deg));
            left: auto;
            right: 10px;
            top: -45px;
            @include s{
              right: 20px;
              top: -55px;
            }
          }
        }
      }
    }
  }
  // block__top used to overlap hero image
  &__top{
    margin-top: 0;
    .block__title--wrap{
      margin-top: -10px;
      @include s{
        margin-top: -40px;
      }
    }
  }
  // block__header used underneath the job navigation bar
  &__header{
    margin-top: 0px;
    .block{
      &__title--wrap{
        @include minus-container;
        @include s{
          @include minus-container;
        }
      }
    }
  }
  // block__title used when block has a title, image overlaps title
  &__has--title{
    .block__content--wrap{
      margin-top: -15px;
    }
  }
  // block__wide block__text overlaps the image more than normal
  &__wide{
    &.block{
      &__left{
        .block__text{
          @include s{
            margin-left: -40px;
          }
          @include m{
            margin-left: -80px;
          }
        }
      }
      &__right{
        .block__text{
          @include s{
            margin-right: -40px;
          }
          @include m{
            margin-right: -80px;
          }
        }
      }
    }
  }
  // block__skill used to center skills offer circle
  &__skill{
    @include s{
      &.block__left{
        .block__offer{
          &--wrap{
            right: auto;
            left: -65px;
            top: calc(45% - 60px);
          }
        }
      }
      &.block__right{
        .block__offer{
          &--wrap{
            right: -60px;
            left: auto;
            top: calc(45% - 65px);
          }
        }
      }
    }
  }
  // Accordion style block
  &__collapse{
    .block{
      &__title{
        @include container-small;
        position: relative;
        cursor: pointer;
        h1,h2,h3,h4,h5,h6, div{
          width: 100%;
        }
        svg{
          @include transition(all 0.3s);
          @include transform(scaleY(-1));
          height: 22px;
          width: 32px;
          position: absolute;
          right: 10px;
          @include s{
            right: 20px;
          }
          @include m{
            right: 30px;
          }
          @include l{
            right: 40px;
          }
        }
      }
      &__content--wrap{
        @include transition(all 0.3s);
        max-height: 0;
        overflow: hidden;
      }
    }
    &.active{
      .block{
        &__title{
          svg{
            @include transform(scaleY(1));
          }
        }
        &__content--wrap{
          max-height: 1000px;
          overflow: visible;
        }
      }
    }
  }
  &__full{
    .block{
      &__text{
        @include s{
          background: transparent;
          margin: 0;
          &:before{
            content: "";
            background: $brand;
            height: 100%;
            left: -100%;
            position: absolute;
            top: 0;
            width: 200%;
            z-index: -1;
          }
        }
        &--wrap{
          @include s{
            margin-top: 0;
          }
        }
      }
      &__image{
        &--content{
          &-wrap{
            @include s{
              width: auto;
              height: auto;
              top: 40px;
              left: 40px;
            }
            @include m{
              top: 50px;
              left: 50px;
            }
          }
        }
        &--wrap{
          z-index: 2;
          img{
            box-sizing: border-box;
            @include s{
              padding: 40px 0 0 40px;
            }
            @include m{
              padding: 50px 0 0 50px;
            }
          }
        }
      }
    }
    &.block__right{
      .block{
        &__text{
          @include s{
            &:before{
              left: 0%;
            }
          }
        }
        &__image{
          &--content{
            &-wrap{
              @include s{
                right: 40px;
                left: 0;
              }
              @include m{
                right: 50px;
              }
            }
          }
          &--wrap{
            img{
              box-sizing: border-box;
              @include s{
                padding: 40px 40px 0 0;
              }
              @include m{
                padding: 50px 50px 0 0;
              }
            }
          }
        }
      }
    }
    &.block__app{
      .block__image--wrap{
        img{
          @include s{
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%, -50%));
            padding-top: 30px;
          }
          @include l{
            padding-top: 20px;
          }
          @include xl{
            padding-top: 10px;
          }
        }
      }
      .block__app--buttons{
        @include flexbox;
        @include flex-wrap(nowrap);
        @include align-items(center);
        @include justify-content(center);
        height: 50px;
        margin-bottom: 20px;
        @include xs{
          height: 60px;
        }
        @include s{
          height: 70px;
        }
        @include m{
          height: 80px;
        }
        a{
          @include flex(1 1 100%);
          height: 100%;
        }
        svg{
          height: 100%;
        }
        #app_store{
          padding: 8.5px 0;
          box-sizing: border-box;
          @include xs{
            padding: 10px 0;
          }
          @include s{
            padding: 12px 0;
          }
          @include m{
            padding: 13.35px 0;
          }
        }
      }
    }
  }
}


.login__apply--wrap{
  @include flexbox;
  @include flex-direction(column);
  text-align: center;
  @include s{
    @include flex-direction(row);
    @include align-items(flex-start);
  }
}

.login__section, .apply__section{
  .btn{
    margin-bottom: 5px;
    min-width: 100px;
    width: 100%;
  }
}

.login__section, .apply__section{
  @include flex(1 1 100%);
}
.or__section{
  @include flex(1 1 auto);
  font-weight: bold;
  margin: 0 10px 10px;
  line-height: 39px;
  @include s{
    margin: 0 15px;
  }
  @include m{
    margin: 0 20px;
  }
}
