.block{
  &__split{
    @include flexbox;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    @include margin;
    background: $brand;
    @include s{
      @include flex-direction(row);
      @include flex-wrap(nowrap);
    }
    &--big,
    &--small,
    &--image{
      @include flex(1 1 auto);
      box-sizing: border-box;
      @include s{
        @include flex(0 0 50%);
      }
    }
    &--big{
      text-align: center;
      color: white;
      padding: 20px;
      @include s{
        padding: 40px 0 40px 40px;
      }
      @include m{
        padding: 60px 0 60px 40px;
      }
    }
    &--small{
      text-align: justify;
      color: white;
      padding: 20px;
      @include s{
        padding: 40px;
      }
      @include m{
        padding: 60px;
      }
      h1,h2,h3,h4,h5,h6{
        text-align: center;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 1rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &--image{
      @include s{
        @include align-self(flex-start);
      }
      img{
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        @include s{
          padding: 40px 0 40px 40px;
        }
        @include m{
          padding: 60px 0 60px 60px;
        }
      }
    }
    &.block__right{
      @include s{
        .block__split--big,
        .block__split--image{
          @include order(1);
          padding: 40px 40px 40px 0;
        }
        .block__split--image{
          img{
            @include s{
              padding: 40px 40px 40px 0;
            }
            @include m{
              padding: 60px 60px 60px 0;
            }
          }
        }
      }
    }
    .block__link{
      padding: 10px 0 0;
      width: 100%;
      @include s{
        text-align: left;
      }
    }
    // Colours
    &.block__brand-2{
      background: $brand-2;
      .block__split{
        &--big, &--small{
          color: white;
        }
      }
    }
    &.block__grey{
      background: $light-grey;
      .block__split{
        &--big{
          color: $brand;
        }
        &--small{
          color: $brand-2;
        }
      }
    }
  }
}
