.cookie{
  &__wrap{
    @include flexbox();
    @include justify-content(center);
    background: $brand-2;
    box-sizing: border-box;
    color: #fff;
    display: none;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 00;
    width: 100%;
    z-index: 5;
    &.active{
      @include flexbox();
    }
  }
  &__inner{
    @include align-items(center);
    @include flexbox();
    font-size: 11px;
    text-align: center;
    @include s{
      font-size: 12px;
    }
    @include m{
      font-size: 13px;
    }
    @include l{
      font-size: 14px;
    }
  }
  &__close{
    cursor: pointer;
    margin-right: 5px;
    @include s{
      margin-right: 10px;
    }
  }
  &__text{
    @include flex(1 1  auto);
  }
}

