.cta{
  &__wrap{
    @include align-items(center);
    @include container;
    @include flexbox;
    @include justify-content(center);
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    @include s{
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }
  &__text{
    @include font-heading;
    font-size: 28px;
    letter-spacing: -2px;
    @include s{
      font-size: 32px;
    }
    @include m{
      font-size: 38px;
    }
    @include l{
      font-size: 42px;
    }
    @include xl{
      font-size: 48px;
    }
    &--big{
      font-size: 32px;
      @include s{
        font-size: 38px;
      }
      @include m{
        font-size: 42px;
      }
      @include l{
        font-size: 48px;
      }
      @include xl{
        font-size: 56px;
      }
    }
  }
  &--brand{
    background: $brand;
    color: white;
  }
  &--brand-2{
    background: $brand-2;
    color: white;
  }
}