.hero{
  &__wrap{
    height: 80vh;
    min-height: 460px;
    position: relative;
    width: 100%;
    @include xs{
      height: 460px;
    }
    @include m{
      height: 480px;
    }
    @include l{
      height: 500px;
    }
    @include xl{
      height: 520px;
    }
  }

  &__image{
    height: 100%;
    width: 100%;
    &--img{
      @include background-image();
    }
  }
  &__content{
    &--wrap{
      @include container;
      @include absolute;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      box-sizing: border-box;
      height: 100%;
      padding-top: 120px;
      width: 100%;
    }
  }
  &__title{
    color: white;
    @include xs{
      margin-bottom: 20px;
    }
    @include m{
      margin-bottom: 40px;
    }
    span{
      display: block;
    }
  }
  &__button{
    &:first-child{
      margin-bottom: 15px;
      @include xs{
        margin-bottom: 0px;
        margin-right: 30px;
      }
    }
    &--wrap{
      @include flexbox();
      @include flex-direction(column);
      @include xs{
        @include flex-direction(row);
      }
    }
  }
}