.hero{
  &__wrap{
    @include minus-container;
    height: 80vh;
    min-height: 460px;
    position: relative;
    @include xs{
      height: 460px;
    }
    @include m{
      height: 480px;
    }
    @include l{
      height: 500px;
    }
    @include xl{
      height: 520px;
    }
  }

  &__image{
    height: 100%;
    width: 100%;
    &--img{
      @include background-image();
    }
  }
  &__content{
    @include flexbox;
    @include flex-direction(column);
    .hero__button--wrap{
      @include xs{
        @include order(1);
      }
    }
    &--wrap{
      @include container;
      @include absolute;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(flex-end);
      box-sizing: border-box;
      height: 100%;
      padding-top: 120px;
      padding-bottom: 90px;
      width: 100%;
      @include xs{
        @include justify-content(center);
      }
    }
  }
  &__title{
    color: white;
    @include xs{
      margin-bottom: 20px;
    }
    @include m{
      margin-bottom: 40px;
    }
    span{
      display: block;
    }
  }
  &__button{
    &:first-child{
      margin-bottom: 15px;
      @include xs{
        margin-bottom: 0px;
        margin-right: 30px;
      }
    }
    &--wrap{
      @include flexbox();
      @include flex-direction(column);
      @include xs{
        @include flex-direction(row);
      }
    }
  }
  &__block{
    background: $brand;
    height: 50vh;
    min-height: 350px;
    .hero{
      &__content{
        @include align-items(center);
        @include justify-content(center);
        text-align: center;
        &--wrap{
          @include justify-content(center);
        }
      }
      &__title{
        margin-bottom: 0;
        span{
          display: inline;
          @include s{
            display: block;
          }
        }
      }
    }
  }
}
