.image__left{
  object-position: left !important;
}
.image__center{
  object-position: center !important;
}
.image__right{
  object-position: right !important;
}
.image__top{
  object-position: top !important;
}
.image__bottom{
  object-position: bottom !important;
}
