.block{
  &__wrap{
    @include flexbox;
    @include flex-direction(column);
    @include s{
      margin: 30px 0;
    }
  }
  &__title{
    @include container-small;
    background: $brand;
    color: white;
    font-size: 30px;
    line-height: 1;
    padding: 40px;
    &--wrap{
      left: 0;
      margin-bottom: 0px;
      margin-left: -40px;
      margin-right: -40px;
      text-align: center;
      right: 0;
      z-index: 1;
      @include s{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  &__content{
    &--wrap{
      @include flexbox;
      @include flex-direction(column);
      @include s{
        margin-bottom: 60px;
        @include flex-direction(row);
        margin-top: -15px;
      }
    }
  }
  &__image{
    &--wrap{
      margin-bottom: 20px;
      // margin-top: -30px;
      position: relative;
      width: 100%;
      z-index: 1;
      @include s{
        margin-bottom: -30px;
        position: relative;
        @include flex(1 1 50%);
      }
      img{
        @include background-image;
        @include s{
          position: absolute;
        }
      }
    }
    &--content{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      box-sizing: border-box;
      height: 100%;
      padding: 20px;
      width: 100%;
      &-wrap{
        position: absolute;
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
      }
      svg{
        height: 80px;
        width: 80px;
        @include s{
          height: 100px;
          width: 100px;
        }
      }
    }
  }
  &__text{
    background: $brand-2;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
    line-height: 1.4;
    @include s{
      margin-bottom: 0px;
      padding: 40px;
      z-index: 1;
    }
    p{
      margin-bottom: 1rem;
      font-size: 12px;
      @include s{
        font-size: 14px;
      }
      @include m{
        font-size: 16px;
      }
      &:last-child{
        margin: 0;
      }
    }
    &--wrap{
      @include s{
        @include flexbox;
        @include flex(1 1 50%);
        @include flex-direction(column);
        @include justify-content(space-around);
        margin-top: 30px;
      }
    }
  }
  &__link{
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    color: $brand-3;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    @include s{
      font-size: 18px;
      margin-bottom: 0;
    }
    svg{
      margin-left: 5px;
      *{
        fill: $brand-3;
      }
    }
  }
  &__left{
    .block__text{
      @include s{
        margin-left: -20px;
      }
    }
  }
  &__right{
    .block__image--wrap{
      @include s{
        @include order(1);
      }
    }
    .block__text{
      @include s{
        margin-right: -20px;
      }
    }
  }
  &__top{
    margin-top: 0;
    .block__title--wrap{
      margin-top: -10px;
      @include s{
        margin-top: -20px;
      }
    }
    .block__content--wrap{
      margin-top: -15px;
    }
  }
  &__header{
    margin-top: 0px;
    .block{
      &__content--wrap{
        margin-top: -15px;
      }
      &__title--wrap{
        @include minus-container;
        @include s{
          @include minus-container;
        }
      }
    }
  }
  &__reverse{
    .block{
      &__title{
        background: $brand-2;
      }
      &__text{
        background: $brand;
      }
    }
  }
  &__grey{
    .block{
      &__title{
        background: $brand;
      }
      &__text{
        background: $light-grey;
        color: $brand-2;
      }
    }
  }
  &__white{
    .block{
      &__title{
        background: white;
      }
      &__text{
        background: $brand;
        color: white;
      }
    }
  }
  // Slider
  &__slider{
    &--wrap{
      margin-left: -40px;
      margin-right: -40px;
      @include s{
        margin-left: 0;
        margin-right: 0;
      }
      .block{
        &__title--wrap{
          margin-left: 0;
          margin-right: 0;
        }
        &__content--wrap{
          padding-left: 40px;
          padding-right: 40px;
          @include s{
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
