.slider{
  &__header{
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding-left: 20px;
    padding-right: 20px;
    &--title{
      @include flexbox;
      @include justify-content(center);
      color: $brand;
      padding: 3rem 0 1.5rem;
      text-align: center;
    }
    &--prev, &--next{
      @include flex(1 0 50px);
      text-align: center;
      .slick{
        &-prev, &-next{
          padding: 3rem 0 1.5rem;
        }
      }
      svg{
        cursor: pointer;
        fill: $brand;
        height: 30px;
      }
    }
  }
}


.slick{
  &-prev, &-next{
    cursor: pointer;
    display: block;
    width: 100%;
  }
  &-dots{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(nowrap);
    background: transparent;
    border: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    outline: none;
    padding: 1rem 0 0;
    button{
      background: transparent;
      border: 0;
      border: 1px solid $brand-2;
      color: transparent;
      cursor: pointer;
      display: block;
      font-size: 0;
      line-height: 0;
      height: 10px;
      margin: 0 3px;
      outline: none;
      padding: 5px;
      width: 10px;
      @include border-radius(50%);
    }
    li.slick-active{
      button{
        background: $brand-2;
      }
    }
  }
}

