.slider{
  &__header{
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    &--title{
      @include flexbox;
      @include justify-content(center);
      color: $brand;
      padding: 3rem 0;
      text-align: center;
    }
    &--prev, &--next{
      @include flex(1 0 50px);
      text-align: center;
      .slick{
        &-prev, &-next{
          padding: 3rem 0;
        }
      }
      svg{
        cursor: pointer;
        fill: $brand;
        height: 30px;
      }
    }
  }
}


.slick{
  &-prev, &-next{
    cursor: pointer;
    display: block;
    width: 100%;
  }
}