.slider{
  &__header{
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    &--title{
      @include flexbox;
      @include justify-content(center);
      color: $brand;
      padding: 3rem 0;
      text-align: center;
    }
    &--prev, &--next{
      @include flex(1 0 50px);
      text-align: center;
      .slick{
        &-prev, &-next{
          padding: 3rem 0;
        }
      }
      svg{
        cursor: pointer;
        fill: $brand;
        height: 30px;
      }
    }
  }
  &__bottom{

    &--nav{
      @include flexbox;
      @include justify-content(space-between);
      background: $light-grey;
      margin-bottom: 40px;
      margin-left: 40px;
      margin-top: 20px;
      margin-right: 40px;
      padding: 10px 0;
      @include s{
        margin-left:0;
        margin-right:0;
        padding: 20px 0;
      }
      &-left, &-right{
        @include flexbox;
        @include flex(1 1 auto);
        @include align-items(center);
      }
      &-left{
        @include justify-content(flex-start);
      }
      &-right{
        @include justify-content(flex-end);
        text-align: right;
      }
    }
    &--icon{
      @include flex(0 1 50px);
      text-align: center;
      @include s{
        @include flex(0 1 80px);
      }
      svg{
        height: 15px;
        *{
          stroke: $brand-2;
        }
      }
    }
    &--text{
      color: $brand-2;
      font-size: 16px;
      font-weight: bold;
      @include xs{
        font-size: 18px;
      }
      @include s{
        font-size: 22px;
      }
      @include m{
        font-size: 22px;
      }
    }
  }
}


.slick{
  &-prev, &-next{
    cursor: pointer;
    display: block;
    width: 100%;
  }
}