*{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

p{
  font-size: 12px;
  @include xs{
    font-size: 14px;
  }
  @include s{
    font-size: 16px;
  }
  a{
    color: $brand;
    &:hover{
      color: lighten($brand, 10%);
    }
  }
}

a{
  outline: none;
}