*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

p{
  a{
    color: $brand;
    &:hover{
      color: lighten($brand, 10%);
    }
  }
}

a{
  outline: none;
}

.brand--color{
  color: $brand;
}