*{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

p{
  a{
    color: $brand;
    &:hover{
      color: lighten($brand, 10%);
    }
  }
}

a{
  outline: none;
}

// Colours

.brand--color{
  color: $brand !important;
}

.brand-2--color{
  color: $brand-2 !important;
}